<div class="container">
  <svg class="actions__search-img" (click)="activateSearch()">
    <use xlink:href="./assets/sprites.svg#headerSearch"></use>
  </svg>
  <mat-form-field class="search__box" *ngIf="showInputSearch">
    <input class="search__input" matInput [formControl]="search" [matAutocomplete]="auto" placeholder="Exedition" />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="getExpeditionTitle"
      (optionSelected)="onExpeditionSelected($event.option.value)"
    >
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
