.card {
  border-top: 1px solid var(--text-color-primary);
  width: 1280px;
  height: auto;
  margin-top: 16px;

  &__image {
    height: 320px;
    padding-bottom: 80px;
  }
}

.btn{
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
  }

  &-back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #666666;
}}