<ng-container *ngIf="isId">
  <div class="btn__wrap">
    <div class="btn-back" (click)="goBack()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#666666">
        <path d="M19.5 7V11H6.33L9.91 7.41L8.5 6L2.5 12L8.5 18L9.91 16.59L6.33 13H21.5V7H19.5Z" fill="#666666"/>
        </svg> Назад до усіх новин
    </div>
  </div>
</ng-container>
<ng-container class="card" *ngIf="article">
  <div class="card-header">
    <span>{{article.eventDate}}</span>
    <span> {{article.location}} </span>
  </div>
  <div class="card__title">
    {{article.title}}
  </div>
  <div class="card__image">
    <img [src]="article.images[0]" alt="image from event">
  </div>
  <div class="card__text">
    {{article.text[0]}}
  </div>
  <ng-container *ngIf="article.images[1]" class="card__image">
    <img [src]="article.images[1]" alt="image from event">
  </ng-container>
  <div class="card__text">
    {{article.text[1]}}
  </div>
  <div class="card__footer">
    <div class="card__footer-title">Матеріал підготували</div>
    <div class="card__footer-subtitle">
      <div *ngFor="let author of article.authors">
        <div>{{author.seekers}}</div>
        <div>{{author.editor}}</div>
        <div>{{author.video}}</div>
        <div>{{author.records}}</div>
      </div>
  </div>
</div>
</ng-container>

