@import '../../../../../typography/typography';
@import '../../../../../typography/fonts';
@import '../../../../../typography/colors';

.songs {
  padding: 80px 0;

  .container{
    max-width: 1440px;
    padding: 0 80px;

    .songs__info {
      display: flex;

      .songs__counter {
        min-width: 161px;
        margin-right: 132px;

        .counter__title {
          @include body-desktop();

          margin-bottom: 12px;
        }

        .counter__result {
          @include h3-mobile();

          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 65px;
          background-color: var(--bg-color-yellow);
          border-radius: 12px;
          box-shadow: 0 8px 16px 8px rgba(15, 15, 15, 0.20);
          padding: 8px;
        }
      }

      .songs__player {
        min-width: 987px;

        .player__title{
          @include body-desktop();

          margin-bottom: 12px;
        }

        .player__container {
          width: 100%;
          padding: 17px 16px;
          box-shadow: 0 8px 16px 8px rgba(15, 15, 15, 0.20);
          border-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .player__actions {
            width: 227px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn__player {
              width: 31px;
              height: 31px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              border: 0;
              background-color: transparent;
            }
          }

          .player__timeline {
            position: relative;
            width: 71.32%;


            input[type=range] {
              height: 5px;
              width: 100%;
              position: relative;
              top: -4px;
              -webkit-appearance: caret;
              accent-color: #282828;
              border-radius: 5px;
            }

            .timeline__time {
              position: absolute;
              top: 16px;
              font-size: 10px;
              letter-spacing: 0.2px;
              text-transform: capitalize;

              &.current-time{
                left: 0;
              }

              &.duration {
                right: 0;
              }
            }
          }

        }
      }
    }

    .songs__playlist {
      padding: 80px 0;

      .playlist-titles {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        padding: 0 12px;

        .titles {
          @include caption-desktop;

          &.title__photo {
            min-width: 72px;
            margin-right: 24px;
          }

          &.title__name {
            min-width: 180px;
            margin-right: 114px;
          }

          &.title__record-info {
            display: flex;
            align-items: center;
            min-width: 466px;

            .record-info__genre {
              min-width: 123px;
              margin-right: 114px;

            }

            .record-info__recording-location {
              min-width: 229px;
            }
          }

          &.title__listen {
            min-width: 72px;
            margin-left: 26.2%;
          }

        }
      }

      .playlist__song-card {
        width: 100%;
        height: 96px;
        padding: 12px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        box-shadow: 1px 4px 16px 8px rgba(15, 15, 15, 0.15);
        border-radius: 12px;

        @include body-desktop;

        .song-card__img {
          min-width: 72px;
          height: 72px;
          margin-right: 24px;
          background-size: cover;
          background-position: center;
          border-radius: 12px;
        }

        .song-card__name-info {
          min-width: 180px;
          margin-right: 114px;

          .name-info__name {
            font-weight: 600;
          }

          .name-info__album {
            font-size: 14px;
          }

        }

        .song-card__song-info {
          display: flex;
          min-width: 466px;
          margin-right: 114px;


          .song-info__genre {
            min-width: 123px;
            margin-right: 114px;

          }

          .song-info__location {
            min-width: 229px;
          }

        }

        .song-card__btn {
          @include button-desktop;

          min-width: 101px;
          height: 48px;
          padding: 10px;
          text-align: center;
          margin-right: 114px;
          border-radius: 100px;
          border: 2px solid var(--text-color-accent);
          cursor: pointer;
        }

        .song-card__listen {
          min-width: 72px;
          cursor: pointer;
        }

      }

    }
  }
}

@media (width <= 1439px) {
  .songs {
    padding: 80px 0;

    .container{
      max-width: 1024px;
      padding: 0 48px;

      .songs__info {
        .songs__counter {
          margin-right: 24px;
        }

        .songs__player {
          min-width: 743px;

          .player__container {
            justify-content: flex-start;

            .player__actions {
              width: 198px;
              margin-right: 18px;
            }
          }
        }
      }

      .songs__playlist {
        .playlist-titles {
          .titles {
            &.title__name {
              margin-right: 101px;
            }

            &.title__record-info {
              display: block;
              min-width: 229px;

              .record-info__genre {
                min-width: 100%;
                margin-right: 0;
              }

              .record-info__recording-location {
                min-width: 100%;
              }
            }

            &.title__listen {
              min-width: 72px;
              margin-left: 25%;
            }

          }
        }

        .playlist__song-card {
          .song-card__name-info {
            margin-right: 101px;
          }

          .song-card__song-info {
            display: block;
            min-width: 229px;
            margin-right: 101px;

            .song-info__genre {
              min-width: 100%;
              margin-right: 0;
              margin-bottom: 12px;
            }

            .song-info__location {
              min-width: 100%;
            }
          }

          .song-card__btn {
            margin-right: 24px;
          }
        }
      }
    }
  }
}

@media (width <= 1023px) {
  .songs {
    padding: 60px 0;

    .container{
      max-width: 768px;
      padding: 0 32px;

      .songs__info {
        .songs__counter {
          min-width: 105px;

          .counter__title {
            text-align: center;
          }

          .counter__result {
            height: 102px;
          }
        }


        .songs__player {
          min-width: 575px;


          .player__title  {
            width: 110px;
            margin: 0 auto 12px;
            text-align: center;
          }

          .player__container {
            display: block;

            .player__actions {
              width: 198px;
              margin: 0 auto 16px;
            }

            .player__timeline {
              width: 100%;
            }
          }
        }
      }

      .songs__playlist {
        padding: 80px 0;

        .playlist-titles {
          .titles {
            &.title__name {
              margin-right: 101px;
            }

            &.title__record-info {
              display: block;
              min-width: 229px;

              .record-info__genre {
                min-width: 100%;
                margin-right: 0;
              }

              .record-info__recording-location {
                min-width: 100%;
              }
            }

            &.title__listen {
              min-width: 72px;
              margin-left: 25%;
            }

          }
        }

        .playlist__song-card {
          .song-card__name-info {
            margin-right: 101px;
          }

          .song-card__song-info {
            display: block;
            min-width: 229px;
            margin-right: 101px;

            .song-info__genre {
              min-width: 100%;
              margin-right: 0;
              margin-bottom: 12px;
            }

            .song-info__location {
              min-width: 100%;
            }
          }

          .song-card__btn {
            margin-right: 24px;
          }
        }
      }
    }
  }
}
