@import 'https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap';

@font-face {
   font-family: 'Yeseva One';
   src: url('../assets/fonts/YesevaOne/YesevaOne-Regular.ttf') format('truetype');
}

:root {
   --primary-font: 'Open Sans';
   --secondary-font: 'Yeseva One';
   --tertiary-font: 'Open Sans';
   --quaternary-font: 'Yeseva One', sans-serif;
}