<section class="article wrapper">
  <div class="article__container container">
    <div class="btn__wrap">
      <div class="btn-back" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#666666">
          <path d="M19.5 7V11H6.33L9.91 7.41L8.5 6L2.5 12L8.5 18L9.91 16.59L6.33 13H21.5V7H19.5Z" fill="#666666" />
        </svg>
        Назад до усіх новин
      </div>
    </div>

    <ng-container class="card" *ngFor="let article of article$ | async">
      <div class="card__header">
        <div class="card__header-subtitle">
          <span class="card__header-subtitle-text">{{ article.eventDate }}</span>
          <span class="card__header-subtitle-text"> {{ article.location }} </span>
        </div>
        <div class="card__header-title">
          {{ article.title }}
        </div>
      </div>
      <div class="card__image-b image" [style.background-image]="'url(' + article.images[0] + ')'"></div>
      <div class="card__text">
        {{ article.text[0] }}
      </div>
      <ng-container *ngIf="article.images[1]">
        <div class="card__image-s image" [style.background-image]="'url(' + article.images[1] + ')'"></div>
      </ng-container>
      <div class="card__text">
        {{ article.text[1] }}
      </div>
      <div class="card__footer">
        <div class="card__footer-title">Матеріал підготували</div>

        <div class="card__footer-subtitle" *ngFor="let author of article.authors">
          <div class="card__footer-text">
            <p>Збирачі:</p>
            {{ author.seekers }}
          </div>
          <div class="card__footer-text">
            <p>Редактори:</p>
            {{ author.editor }}
          </div>
          <div class="card__footer-text">
            <p>Відео-монтаж:</p>
            {{ author.video }}
          </div>
          <div class="card__footer-text">
            <p>Запис:</p>
            {{ author.records }}
          </div>
        </div>
      </div>
    </ng-container>
    <div class="social">
      <div class="social__icons">
        <p class="social__text">Поширити</p>
        <div class="social__icon">
          <div class="social__icon-f"></div>
        </div>
        <div class="social__icon">
          <div class="social__icon-t"></div>
        </div>
        <div class="social__icon">
          <div class="social__icon-in"></div>
        </div>
        <div class="social__icon">
          <div class="social__icon-link"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="wrapper">
  <app-latest-news></app-latest-news>
</section>
