.article {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    padding-top: 156px;
  }
}

.card {
  border-top: 1px solid var(--text-color-primary);
  width: 1280px;
  height: auto;
  margin-top: 16px;

  &__header {
    display: flex;
    width: 954px;
    padding-left: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  &__header-subtitle {
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    &-text {
      padding-right: 24px;
    }
  }

  &__text {
    align-self: stretch;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  &__header-title {
    width: 736px;
    font-family: 'Yeseva One';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
  }

  &__image-b {
    width: 1280px;
    height: 651px;
  }

  &__image-s {
    width: 845px;
    height: 575px;
  }

  &__footer {
    display: flex;
    width: 954px;
    padding-left: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;

    &-title {
      align-self: stretch;
      font-family: 'Yeseva One';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
    }

    &-subtitle {
      display: flex;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
    }

    &-text {
      flex: 1 0 0;
      font-family: 'Open Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
  }

  &-back {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #666666;
    cursor: pointer;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  &__text {
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--neutrals-600, #666);
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__icon {
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--neutrals-500, #989898);
    cursor: pointer;
  }

  &__icon-f {
    width: 24px;
    height: 24px;
    background-image: url('../../pisc/Facebook.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__icon-t {
    @extend .social__icon-f;
    background-image: url('../../pisc/bxl_twitter.svg');
  }

  &__icon-in {
    @extend .social__icon-f;
    background-image: url('../../pisc/bxl_linkedin.svg');
  }

  &__icon-link {
    @extend .social__icon-f;
    background-image: url('../../pisc/link.svg');
  }
}
