@use '/src/typography/typography';

.news {
  &__container {
    width: 1279px;
    padding-top: 80px;
  }

  &__card-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include typography.h2-desktop;

    padding-bottom: 16px;
  }
}

.card {
  border-top: 1px solid typography.$color-primary;
  width: 1282px;
  height: 320px;
  contain: strict;
  cursor: pointer;
  &:nth-child(odd) {
    margin-top: 16px;
    margin-bottom: 32px;
  }

  &__header {
    @include typography.link-desktop;

    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
    padding: 16px 0;
  }

  &__body {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }

  &__image-item {
    width: 628px;
    height: 320px;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &__title-name {
    width: 629px;
    font-family: typography.$secondary-fonts;
    font-size: 28px;
    font-style: normal;
    font-weight: typography.$font-weight-regular;
    line-height: 36px;
    color: typography.$color-primary;
  }

  &__title-place {
    margin: 0;
    /* Desktop/Yeseva One/Overline */
    font-family: typography.$secondary-fonts;
    font-size: 20px;
    font-style: normal;
    font-weight: typography.$font-weight-regular;
    line-height: 28px;
    color: #666666;
  }
}

.text-bold {
  font-weight: typography.$font-weight-bolt;
}

.arrow__icon {
  cursor: pointer;
}
