@use '/src/typography/typography' as *;

.news {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 358px;
    gap: 16px;
    padding-top: 128px;
    padding-bottom: 48px;
  }

  &__title {
    @include h2-mobile;
  }
}

.cards__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.card {
  display: flex;
  height: 384px;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid $color-primary;
  gap: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 358px;
    padding-top: 16px;
  }

  &__header-event {
    flex: 1 0 0;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: 24px;
    color: $color-primary;
  }

  &__image-item {
    width: 358px;
    height: 181px;
    border-radius: 12px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &__title-name {
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: $font-weight-semibolt;
    line-height: 24px;
    color: $color-primary;
  }

  &__title-place {
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: 24px;
    color: var(--text-color-popup-menu);
  }
}

.arrow__icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.filter__wrap {
  width: 100%;
}

@media (width > 390px) {
  .news {
    &_container {
      width: 703px;
      padding-top: 156px;
    }
  }
}
