@use '/src/typography/typography' as *;

.news {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 358px;
    gap: 16px;
    padding-top: 128px;
    padding-bottom: 48px;
  }

  &__title {
    @include h2-mobile;
  }
}

.cards__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 358px;
}

.card {
  width: 358px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid $color-primary;
  gap: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 358px;
    padding-top: 16px;
  }

  &__header-event {
    flex: 1 0 0;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: 24px;
    color: $color-primary;
  }

  &__image-item {
    width: 358px;
    height: 181px;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &__title-name {
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: $font-weight-semibolt;
    line-height: 24px;
    color: #666;

    &:hover {
      color: $color-primary;
    }
  }

  &__title-place {
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: 24px;
    color: var(--text-color-popup-menu);
  }
}

.arrow__icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.filter__wrap {
  width: 100%;
}

@media (width > 768px) {
  .news {
    &__container {
      width: 703px;
      padding-top: 156px;
      padding-bottom: 71px;
    }
  }

  .cards__wrap {
    width: 703px;
    gap: 48px;
  }

  .card {
    width: 703px;

    &__header {
      display: flex;
      width: 703px;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__body {
      display: flex;
      align-items: flex-start;
      gap: 24px;
    }

    &__image-item {
      width: 339px;
      height: 179px;
    }

    &__title {
      width: 338px;
    }

    &__title-name,
    &__title-place {
      font-family: $secondary-fonts;
    }
  }
}

@media (width > 1024px) {
  .news {
    &__container {
      width: 928px;
      padding-top: 176px;
      padding-bottom: 91px;
    }

    &__title {
      font-size: 40px;
      font-weight: $font-weight-regular;
      line-height: 48px;
    }
  }
  .cards__wrap {
    width: 928px;
  }

  .card {
    width: 928px;

    &__header {
      width: 928px;
    }

    &__image-item {
      width: 452px;
      height: 236px;
    }

    &__title {
      width: 452px;
      flex-shrink: 0;
    }

    &__title-name {
      font-family: 'Open Sans';
      font-size: 20px;
      line-height: 28px;
      width: 452px;
    }

    &__title-place {
      font-family: 'Work Sans';
      font-size: 18px;
      line-height: 28px;
    }
  }
}

@media (width > 1440px) {
  .news {
    &__container {
      padding-top: 156px;
      padding-bottom: 91px;
      width: 1280px;
    }
  }
  .cards__wrap {
    width: 1282px;
  }

  .card {
    width: 1282px;

    &__image-item {
      width: 629px;
      height: 320px;
    }

    &__header {
      width: 1282px;
    }

    &__title {
      width: 629px;
    }

    &__title-name {
      width: 629px;
      font-family: $secondary-fonts;
      line-height: 36px;
    }

    &__title-place {
      font-family: $secondary-fonts;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

@media (width > 1920px) {
  .news {
    &__container {
      width: 1282px;
      padding-top: 156px;
      padding-bottom: 80px;
    }
  }

  .cards__wrap {
    width: 1282px;
  }
}
