.box {
  padding-top: 150px;
  min-height: 90vh;
}

.map-filter {
  position: absolute;
  top: 0;
  width: 1280px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}
.map {
  position: relative;
  margin-top: 108px;
}

@media (width <=768px) {
  .map {
    margin-top: 96px;
  }
}
@media (width <=421px) {
  .map {
    margin-top: 80px;
  }
}
