@import '/src/typography/typography';

.nav__btns {
  display: flex;
  gap: 8px;
}

.nav__btn-left,
.nav__btn-right {
  background-color: transparent;
  border: none;
}

.about {
  margin: 0 auto;
  max-width: 1440px;
  width: 1280px;
  margin-top: 188px;
  margin-bottom: 80px;

  &__title {
    @include h2-desktop($line-height: 48px);

    margin: 0 30px 24px 0;
  }

  &__description {
    @include body-desktop($line-height: 28px, $font-size: 20px);

    width: 845px;
    margin: 0 30px 0 0;
  }

  &__main-img {
    width: 100%;
    border-radius: 12px;
    margin: 48px 0;
  }

  &__carousel {
    width: 845px;
    margin: 48px 0;

    &-item {
      width: 100%;
    }

    &-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 14px;

      &__count {
        color: $color-primary;
      }
    }
  }
}

.our-projects {
  margin: 0 auto 80px;
  width: 1280px;

  &__title {
    @include h2-desktop($line-height: 65px);

    margin-top: 68px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__item {
    height: 360px;
    width: 302px;

    &-img {
      height: 208px;
    }

    &-title {
      @include h5-desktop($line-height: 32px, $font-size: 24px);

      margin: 10px 0 0;
    }

    &-descr {
      line-height: 24px;
      margin-top: 8px;
    }
  }

  .nav__btns {
    margin-top: 48px;
    justify-content: end;
  }
}

.bounding-box {
  margin-left: 110px;
}

@media (width <=1024px) {
  .about {
    width: 1024px;
    padding: 0 48px;

    &__description {
      width: 100%;
    }

    &__main-img {
      width: 100%;
      height: 100%;
    }

    &__carousel {
      width: 924px;

      &-item {
        width: 928px;
        height: 568px;
      }
    }
  }

  .our-projects {
    width: 100%;
    padding: 0 48px;

    &__items {
      gap: 24px;
    }

    &__item {
      height: 360px;
      width: 293px;

      &-img {
        width: inherit;
      }
    }
  }

  .bounding-box {
    margin-left: 0;
  }
}

@media (width <=768px) {
  .about {
    width: 768px;
    padding: 0 32px;

    &__description {
      width: 100%;
    }

    &__carousel {
      width: 100%;

      &-item {
        width: 100%;
        height: 100%;
      }
    }
  }

  .our-projects {
    &__items {
      overflow: hidden;
      display: flex;

      gap: 24px;
      width: 768px;
    }

    &__item {
      height: 385px;
      width: 340px;

      &-img {
        width: 340px;
        height: 208px;
      }
    }

    .nav__btns {
      margin-top: 32px;
    }
  }

  .bounding-box {
    margin-left: 0;
  }
}

@media (width <=390px) {
  .about {
    width: 390px;
    margin: 0;
    padding: 114px 16px 48px;

    &__title {
      @include h2-mobile;

      margin: 16px 0;
    }

    &__description {
      @include body-mobile;

      width: 100%;
    }

    &__main-img {
      margin: 8px 0 24px;
    }

    &__carousel {
      width: 100%;
      margin: 24px 0;

      &-item {
        width: 100%;
        height: 100%;
      }
    }
  }

  .our-projects {
    margin: 0;
    padding: 0 16px 28px;

    &__title {
      @include h2-mobile;

      margin-top: 48px;
    }

    &__items {
      margin-top: 24px;
    }

    &__item {
      height: 348px;
      width: 358px;

      &-img {
        width: inherit;
        height: 208px;
      }

      &-title {
        @include h5-mobile;
      }
    }

    .nav__btns {
      margin-top: 24px;
    }
  }

  .bounding-box {
    margin-left: 0;
  }
}
