@import '../../../../../typography/typography';

.mat-expansion-panel-header-title {
  @include h5-desktop($font-size: 24px);
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
}

.mat-expansion-panel {
  border: 1px solid rgba(0, 0, 0, 60%);
  border-radius: 7px;
}
.recomendations {
  &__pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;

    &__navigation {
      border: 1px solid rgba(0, 0, 0, 20%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      line-height: 3px;
      background-color: inherit;
    }

    &__number {
      font-size: 12px;
      font-weight: 600;
    }
  }
}
.current-page {
  background-color: yellow;
  border: 1px solid yellow;
}
