<mat-expansion-panel
  hideToggle="true"
  class="mat-elevation-z0 science__recomendations"
  (opened)="rotateRecomendationArrow()"
  (closed)="rotateRecomendationArrow()"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Рекомендації </mat-panel-title>
    <mat-panel-description>
      <app-arrow-down [direction]="expansionRecomendationArrow"></app-arrow-down>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="pagination">
    <button class="pagination__navigation" (click)="navigateToNextPage(-1)"><app-navigation-next></app-navigation-next></button>
    <button
      class="pagination__navigation pagination__number"
      *ngFor="let page of recomendationPages"
      [ngClass]="{ 'current-page': page === currentPage }"
      (click)="navigateToPage(page)"
    >
      {{ page }}
    </button>
    <button class="pagination__navigation" (click)="navigateToNextPage(1)">
      <app-navigation-next pointTo="right"></app-navigation-next>
    </button>
  </div>
  <ng-container *ngFor="let recomendation of recomendations">
    <p>
      {{ recomendation }}
    </p>
    <br />
  </ng-container>
</mat-expansion-panel>
