@use '../../../../../../typography/typography' as *;

.news {
  &__filter {
    display: flex;
    align-items: flex-start;
    gap: 28px;
    overflow: hidden;
  }

  &__filter-item {
    display: inline-block;
    white-space: nowrap;
    font-family: 'Open Sans';
    font-size: px-to-rem(16);
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: 24px;
    transition: transform 0.3s ease-in-out;
    touch-action: pan-y;
    color: $color-primary;
    cursor: pointer;
    max-width: 358px;
  }

  &__filter-selected {
    font-weight: $font-weight-semibolt;
  }
}

@media (width > 390px) {
  .news {
    &__filter {
      gap: 48px;
    }
  }
}
