@import '../../../../typography/typography';

.container {
  display: flex;
  min-height: 90vh;
  margin: 0 auto;
  max-width: 1280px;
  margin-top: 148px;
  margin-bottom: 80px;
}

.expeditions {
  width: 100%;
  &__title {
    @include h2-desktop($line-height: 65px);
  }
  &__description {
    @include body-desktop;
    width: 628px;
    padding-top: 5px;
  }
  &__categories {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 120px;
    li {
      @include link-desktop($font-family: $primary-fonts);
      display: inline;
      cursor: pointer;
    }
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  &__item {
    height: 350px;
    display: flex;
    flex-direction: column;
    &__media {
      width: 302px;
      height: 180px;
      overflow: hidden;
      display: flex;
      border-radius: 8px;
      .frame-video {
        width: 100%;
      }
    }

    &__date {
      @include caption-desktop();
      margin-top: 24px;
    }
    &__name {
      @include h6-desktop($font-size: 24px, $line-height: 50px, $font-family: $primary-fonts);
    }
    &__description {
      @include body-desktop;
    }
    &__location {
      @include caption-desktop;
      margin-top: 8px;
    }
  }
}

.selected-category {
  font-weight: 600;
}

@media (width < 1025px) {
  .container {
    max-width: 928px;
    margin-top: 148px;
    margin-bottom: 80px;
  }
  .expeditions {
    &__gallery {
      gap: 24px;
    }
    &__item {
      &__media {
        width: 293px;
      }
    }
  }
}

@media (width < 769px) {
  .container {
    max-width: 704px;
    margin-top: 130px;
    margin-bottom: 80px;
  }
  .expeditions {
    width: 100%;
    &__title {
      @include h2-desktop($line-height: 35px);
    }
    &__description {
      width: 100%;
    }
    &__categories {
      overflow: hidden;
      height: 88px;
    }
    &__gallery {
      gap: 24px;
    }
    &__item {
      &__media {
        width: 340px;
        height: 200px;
      }
    }
  }
}

@media (width < 391px) {
  .container {
    max-width: 358px;
    margin-top: 105px;
    margin-bottom: 48px;
  }

  .expeditions {
    &__title {
      @include h2-mobile($line-height: 35px);
    }
    &__categories {
      overflow: hidden;
      height: 78px;
    }
    &__gallery {
      gap: 16px;
    }
    &__item {
      height: 338px;
      &__date {
        margin-top: 18px;
      }
      &__name {
        @include h6-mobile($line-height: 30px, $font-family: $primary-fonts);
      }
      &__location {
        margin-top: 6px;
      }
      &__media {
        width: 358px;
      }
    }
  }
}
