<div class="container">
  <div class="expeditions">
    <h2 class="expeditions__title">Експедиції</h2>
    <p class="expeditions__description">
      Пріоритети сучасних експедицій сучасних експедицій – заповнення «білих плям» на фольклористичній карті України (східна Волинь,
      Наддніпрянщина, південна Чернігівщина, Сумщина, Берестейщина та інші території) та спеціалізовані регіональні програми з видання
      пісенних збірок за матеріалами певних етнографічних локусів.
    </p>
    <div>
      <ul class="expeditions__categories">
        <li
          *ngFor="let category of categories; let i = index"
          tabindex="0"
          role="button"
          (click)="selectCategory(i)"
          (keypress)="selectCategory(i)"
        >
          <a [class.selected-category]="i === selectedCategory"> {{ category }}</a>
        </li>
      </ul>
    </div>
    <div class="expeditions__gallery" *ngIf="$expeditions | async as expeditions">
      <div *ngFor="let event of expeditions" class="expeditions__item">
        <app-expedition-card [event]="event"></app-expedition-card>
      </div>
    </div>
  </div>
</div>
