@import '../../../../typography/typography';

.container {
  display: flex;
  padding-top: 148px;
  min-height: 90vh;
  margin-bottom: 80px;
}

.expeditions {
  width: 100%;
    &__title {
      @include h2-desktop($line-height: 65px);
    }
    &__description {
      @include body-desktop( $font-family: 'Helvetica');
      width: 628px;
       padding-top: 5px;
      //  margin-bottom: 20px;
    }
    &__categories {
      // border:1px solid red;
      display: flex;
      align-items: center;
      gap: 24px;
      height: 120px;
      // TODO: set  $font-family: $primary-fonts
      li {
         @include link-desktop( $font-family: 'Helvetica');
         display: inline;
      }
    }
    &__gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      img {
        border-radius: 8px;
        width: 302px;
        height: 180px;
      }
    }
    &__item {
      height: 350px;
      display: flex;
      flex-direction: column;
      background-color: aquamarine;
      &__date {
        @include caption-desktop($font-family: 'Helvetica');
        margin-top: 24px;
      }
      // TODO: remove $font-family param after 
      &__name {
        @include h6-desktop($font-size: 24px, $line-height: 50px, $font-family: 'Helvetica');
      }
      &__description {
        @include body-desktop($font-family: 'Helvetica');
      }
      &__location {
        @include caption-desktop($font-family: 'Helvetica');
        margin-top: 8px;
      }
    }
}
@media (width < 1025px) {
  .container {
    margin: 0 48px;
  }
  .expeditions__gallery {
    gap: 24px;
  }
  .expeditions__item {
    img {
      width: 293px;
    }
  }
}

@media (width < 769px) {
  .container {
    margin: 0 32px;
    // border: 1px solid blue;
  }
  .expeditions__gallery {
    gap: 24px;
  }
  .expeditions__item {
    img {
      width: 340px;
      height: 200px;
    }
  }
}