<div class="container"> 
   <!-- <p style="padding: 10px; color: azure; font-size: larger; background-color: #1a1a1a;">{{ 'expeditions.stub' | translate }}</p> -->
   <div class="expeditions">
      <h2 class="expeditions__title"> Експедиції</h2>
      <p class="expeditions__description">
         Пріоритети modern експедицій – заповнення «білих плям» на фольклористичній карті України (східна Волинь, Наддніпрянщина, південна Чернігівщина, Сумщина, Берестейщина та інші території) та спеціалізовані регіональні програми з видання пісенних збірок за матеріалами певних етнографічних локусів.
      </p>
      <div class="expeditions__gallery">
        <div *ngFor="let img of gallery" class="expeditions__gallery__item">
         <img 
           [src]="imgUrl" 
           alt="" 
           height="180" 
           width="300">
         </div>
      </div>
   </div>
   
</div>
