@use '../../../../../typography/typography';
.card {
  border-top: 1px solid var(--text-color-primary);
  width: 1282px;
  height: 320px;
  contain: strict;
  &:nth-child(odd) {
    margin-top: 16px;
    margin-bottom: 32px;
  }

    &__header{
      @include typography.link-desktop;

      display: flex;
      justify-content: space-between;
      font-family: "Open Sans";
      padding: 16px 0;
    }

    &__body{
      display: flex;
      align-items: flex-start;
      gap: 24px;
    }

    &__image {
      width: 628px;
      height: 320px;
      border-radius: 12px;
      background-image: url("../mockData/img.png");
      // background-size: cover;
      // background-repeat: no-repeat;
    }

    &__title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    &__title-name {
      width: 629px;
      font-family: "Yeseva One";
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      color: var(--text-color-primary);

      
    }

    &__title-place {
      margin: 0;
      /* Desktop/Yeseva One/Overline */
      font-family: "Yeseva One";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      color: var(--neutrals-600, #666);
    }
}
