@import '../../../../../typography/typography';

.mat-expansion-panel-header-title {
  @include h5-desktop($font-size: 24px);
}

.mat-expansion-panel {
  border: 1px solid rgba(0, 0, 0, 60%);
  border-radius: 7px;

  .mat-expansion-panel-header {
    height: 64px;

    .mat-expansion-panel-header-description {
      display: flex;
      justify-content: flex-end;
      margin-right: 0;
      flex-grow: initial;
    }

    .mat-expansion-panel-header-title {
      height: 50px;
      overflow: hidden;
      text-wrap: nowrap;
    }
  }
}

ul {
  list-style: initial;
}

li {
  margin-left: 40px;
}

.lit-link {
  @include h6-desktop($font-family: 'Open sans');
}

.link {
  margin-left: -40px;
}
