<div  class="event">
    <!-- <img [src]="event.mediaSrc" alt="Expedition image" /> -->
    <div class="event__media">
      <iframe class="frame-video" [src]="event.mediaSrc | safeMediaUrl" frameborder="0" allowfullscreen></iframe>
    </div>

    <span class="event__date">{{ validDate | date: 'MMM d, y' }}</span>
    <span class="event__name">{{ event.name }}</span>
    <span class="event__description">{{ event.shortDescription | slice:0:30 }} </span>
    <span class="event__location">{{ event.location }}</span>
  </div>