<div class="event">
  <div class="event__media">
    <img *ngIf="isPreviewDisplayed" [src]="event.mediaSrc | previewFromUrl" alt="Expedition image" (click)="playVideo()" />
    <iframe #player class="frame-video" [src]="event.mediaSrc | safeMediaUrl" frameborder="0" allowfullscreen></iframe>
  </div>

  <span class="event__date">{{ validDate | date: 'MMM d, y' }}</span>
  <span class="event__name">{{ event.name | slice: 0 : 20 }}</span>
  <span class="event__description">{{ event.shortDescription | slice: 0 : 30 }} </span>
  <span class="event__location">{{ event.location | slice: 0 : 30 }}</span>
</div>
