<div class="news-latest container">
  <div class="news-latest__title">Останні новини</div>
  <div class="news-latest__wrap">
    <div class="slide">
      <div class="slide__wrap" [style.transform]="'translateX(' + translateX + 'px)'">
        <div class="news-latest__card slide__items" *ngFor="let article of currentChunk">
          <div class="news-latest__card-wrap btn-link" (click)="showDetail(article.id)">
            <div class="news-latest__card-image" [style.background-image]="'url(' + article.images[0] + ')'"></div>
            <div class="news-latest__card-date">{{ article.date }}</div>
            <div class="news-latest__card-title">{{ article.title }}</div>
            <div class="news-latest__card-subtitle">{{ article.text | cutText: 10 }}</div>
            <div class="news-latest__card-location">{{ article.location }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--make colors of buttons-->
  <div class="news-latest__controlls">
    <div class="news-latest__controlls-pages">{{ currentIdx }}/{{ total }}</div>
    <div class="news-latest__controlls-arrows">
      <button class="news-latest__btn arrow__prev active" (click)="previousArticle()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M20 11H7.83L13.42 5.41L12 4L4 12L12 20L13.41 18.59L7.83 13H20V11Z"
            fill="#000"
          />
        </svg>
      </button>
      <button class="news-latest__btn arrow__next" (click)="nextArticle()"></button>
    </div>
  </div>
</div>
