@import '../../../../typography/typography';

.mat-expansion-panel-header {
  display: flex;
}

.mat-expansion-panel-header-title {
  @include h5-desktop($font-size: 24px);
  flex: 1;
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  flex: 1;
}

.mat-expansion-panel {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 7px;
}

ul {
  list-style: initial;
}

li {
  margin-left: 40px;
}
.lit-link {
  @include h6-desktop($font-family: 'Open sans');
}
.link {
  margin-left: -40px;
  // text-decoration: underline;
}
.pagination {
  display: flex;
  align-items: center;
  &__navigation {
    border: 1px solid rgba(0, 0, 0, 20%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: inherit;
    padding-top: 3px;
    // padding-right: 3px;
  }
  &__number {
    background-color: yellow;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 3px;
    .selected {
    }
  }
}

.container {
  display: flex;
  min-height: 90vh;
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 148px;
  margin-bottom: 80px;
}

.science {
  width: 100%;
  margin-right: 80px;
  margin-left: 80px;

  &__title {
    @include h2-desktop($line-height: 65px);
  }

  &__introduction {
    @include body-desktop;

    width: 628px;
    padding-top: 5px;
  }
  &__gallery {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 48px 0 48px 0;
    &__item {
      // border: 1px solid rgb(0, 0, 0);
      display: inline-block;
      width: 410px;
      height: 281px;
      // border: 1px solid red;
    }
  }
  &__recomendations {
    margin-bottom: 24px;
  }
}

@media (width < 1025px) {
  .container {
    margin-top: 148px;
    margin-bottom: 80px;
  }

  .science {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media (width < 769px) {
  .container {
    margin-top: 130px;
    margin-bottom: 80px;
  }

  .expeditions {
    margin-right: 32px;
    margin-left: 32px;
    width: 100%;
    overflow: hidden;

    &__title {
      @include h2-desktop($line-height: 35px);
    }

    &__description {
      width: 100%;
    }

    &__categories {
      overflow: hidden;
      height: 88px;
    }

    &__gallery {
      gap: 24px;
    }
  }
}

@media (width < 391px) {
  .container {
    width: 358px;
    margin-top: 105px;
    margin-bottom: 48px;
  }

  .expeditions {
    overflow: visible;
    margin: 0 auto;

    &__title {
      @include h2-mobile($line-height: 35px);
    }

    &__categories {
      overflow: hidden;
      height: 78px;
    }

    &__gallery {
      gap: 16px;
    }
  }
}
