<div class="container">
  <div class="science">
    <h2 class="science__title">Hello world</h2>
    <p class="science__introduction">
      {{ 'expeditions.intro' | translate }}
    </p>
    <div class="science__gallery" *ngIf="categories$ | async as categories">
      <div class="science__gallery__item" *ngFor="let category of categories">
        <app-category-link [category]="category"></app-category-link>
      </div>
    </div>

    <mat-expansion-panel hideToggle="true" (opened)="changeDirection()" (closed)="changeDirection()">
      <mat-expansion-panel-header>
        <mat-panel-title> Рекомендації </mat-panel-title>
        <mat-panel-description> <app-arrow-down [direction]="classDirection"></app-arrow-down> </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </div>
</div>
