<section class="news">
  <div class="news__container">
    <div class="news__title">
      {{"Новини" | translate}}
    </div>
    <div class="news__filter">
      <div 
        class="news__filter-item"
        *ngFor="let filter of filters"
        (click)="filterArticles(filter)"
        [class.news__filter-selected]="filter === selectedFilter"
      > 
        {{filter}}
      </div>
    </div>
    <div class="news__card-articles">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
