@function px-to-rem($px) {
  @return calc($px * 0.063rem);
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: px-to-rem(156);
  padding-bottom: px-to-rem(80);
}
