<section class="news">
  <div class="news__container">
    <div class="news__title">
      {{"Новини" | translate}}
    </div>
    <div class="news__nav">
      <a class="news__nav-item" [routerLink]="['/news', {filterBy: 'all'}]"> Усі</a>

      <a class="news__nav-item"> Зустрічі</a>

      <a class="news__nav-item"> Лекції</a>

      <a class="news__nav-item"> Публікації</a>

      <a class="news__nav-item"> Майстер-класи</a>

      <a class="news__nav-item"> Концерти</a>

      <a class="news__nav-item"> Конференції</a>
    </div>
    <div class="news__card-articles">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
