@use '/src/typography/typography';



.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 108px;
  padding-bottom: 80px;
  height: 1331px;

  &__container {
    width: 1279px;
    padding-top: 80px;
  }

  &__card-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  &__title {
    /* Desktop/Yeseva One/Heading 2 */
    @include typography.h2-desktop;

    padding-bottom: 16px;
  }

  &__filter {
    display: flex;
    align-items: flex-start;
    gap: 48px;
  }

  &__filter-item{
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-primary);
  }

  &__filter-selected {
    font-weight: 600;
  }
}

