<div class="filter container">
  <div class="filter__box">
    <div (click)="showFilter = !showFilter" class="filter__header">
      <div class="filter__header-box">
        <svg viewBox="0 0 32 32" width="32" height="32">
          <use xlink:href="./assets/sprites.svg#filterIcon"></use>
        </svg>
        <span class="filter__title">Фільтр</span>
      </div>
      <svg
        [style.transform]="!showFilter ? ' rotate(0deg)' : 'rotate(180deg)'"
        width="24" height="24" viewBox="0 0 24 24"
      >
        <use xlink:href="./assets/sprites.svg#arrowFilterShow"></use>
      </svg>
    </div>
    <ng-container>
      <div class="filter__body" [ngStyle]="!showFilter ? {'transform': 'translateY(-100%)'} : {'transform': 'translateY(0)'}">
        <div class="filter__location">
          <div class="filter__title-container">
            <h3 class="filter__body-title">Місцевість</h3>
            <button class="filter__clear" (click)="filerClear()">
              <svg width="16" height="16" viewBox="0 0 16 16">
                <use xlink:href="./assets/sprites.svg#filterClear"></use>
              </svg>
              <span>Очистити</span>
            </button>
          </div>
          <app-multiselect
            [name]="'Країна'"
            [listOfOption]="options.country"
            [listOfSelectedValue]="selectedOptions.country"
            (selectedOptionsChange)="onSelectedOptionsChange('country', $event)"
          ></app-multiselect>

          <app-multiselect
            [name]="'Область'"
            [listOfOption]="options.region"
            [listOfSelectedValue]="selectedOptions.region"
            (selectedOptionsChange)="onSelectedOptionsChange('region', $event)"
          ></app-multiselect>

          <app-multiselect
            [name]="'Населений пункт'"
            [listOfOption]="options.district_center"
            [listOfSelectedValue]="selectedOptions.district_center"
            (selectedOptionsChange)="onSelectedOptionsChange('district_center', $event)"
          ></app-multiselect>
        </div>
        <div class="filter__song">
          <h3 class="filter__body-title">Пісня</h3>
          <app-multiselect
            [name]="'Жанр'"
            [listOfOption]="options.genre_cycle"
            [listOfSelectedValue]="selectedOptions.genre_cycle"
            (selectedOptionsChange)="onSelectedOptionsChange('genre_cycle', $event)"
          ></app-multiselect>
          <app-multiselect
            [name]="'Назва'"
            [listOfOption]="options.title"
            [listOfSelectedValue]="selectedOptions.title"
            (selectedOptionsChange)="onSelectedOptionsChange('title', $event)"
          ></app-multiselect>
          <app-multiselect
            [name]="'Фонд'"
            [listOfOption]="options.found"
            [listOfSelectedValue]="selectedOptions.found"
            (selectedOptionsChange)="onSelectedOptionsChange('found', $event)"
          ></app-multiselect>
        </div>
      </div>
    </ng-container>
  </div>
</div>
